*{
position: absolute;
background: #0B0B0C;
}
.header{
position: absolute;
width: 1863px;
height: 92px;
left: 27px;
top: 11px;
background: #0B0B0C;
}
.logo{
font-family: 'Times New Roman', Times, serif;
font-size: 34px;
line-height: 6px;
display: flex;
align-items: center;
text-align: center;
color: #FFFBFB;
margin-top: 2px;
}
.title{
position: absolute;
width: 1014px;
height: 129px;
left: 335px;
top: 1px;
font-family: Poppins;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;
color: #FFFBFB;
}
.name{
position: absolute;
width: 713px;
height: 139px;
left: 615px;
top: 180px;
font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 92px;
color: #FDF5F5;
}
.btn-join{
position: absolute;
width: 325px;
height: 50px;
left: 615px;
top: 270px;
background: #2D98C7;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 50px;
font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 9px;
}